<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="style-edit.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="background-color: #fafafa;">
    <div class="container">
        <nav class="navbar navbar-light">
            <div class="container">
                <a href="" class="back">
                    <img src="assets/back.svg" class="back-icon">
                </a>
                <h2 class="edit-profile">Edit Profile</h2>
                <a href="" class="save" id="save" type="submit">
                    Save
                </a>
            </div>
        </nav>
        <div class="profile-container">
            <div class="col-12 col-md-8 col-xl-6 profile">
                <div class="atas">
                    <img src="assets/homescreen black.svg" class="homescreen">
                    <div class="edit-homescreen-container">
                        <a href=""><img src="assets/camera-white.svg" class="edit-homescreen"></a>
                    </div>
                </div>
                <div class=image-container>
                    <img src="assets/foto profile black.svg" class="foto-profile">
                    <div class="edit-ava-container">
                        <a href=""><img src="assets/camera-white.svg" class="edit-ava"></a>
                    </div>
                </div>
                <div class="bio edit">
                    <form id="edit" method="post">
                        <label class="label">Name</label>
                        <br>
                        <input type="text" class="text-input" name="" placeholder="Enter your name">
                        <br>
                        <br>
                        <label class="label">Birthdate</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your birthdate">
                        <br>
                        <br>
                        <label class="label">Education</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your education">
                        <br>
                        <br>
                        <label class="label">Interest</label>
                        <br>
                        <input type="checkbox" class="checkbox"> <span>Programming</span>
                        <input type="checkbox" class="checkbox"> <span>Drawing</span>
                        <input type="checkbox" class="checkbox"> <span>Sport</span>
                        <input type="checkbox" class="checkbox"> <span>Gaming</span>
                        <input type="checkbox" class="checkbox"> <span>Entertainment</span>
                        <input type="checkbox" class="checkbox"> <span>Dancing</span>
                        <input type="checkbox" class="checkbox"> <span>Cooking</span>
                        <input type="checkbox" class="checkbox"> <span>Other</span>
                        <br>
                        <br>
                        <label class="label">Bio</label>
                        <br>
                        <textarea class="textarea" placeholder="Enter your bio"></textarea>
                        <br>
                        <br>
                        <label class="label">Facebook</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your Facebook account">
                        <br>
                        <br>
                        <label class="label">Instagram</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your Instagram account">
                        <br>
                        <br>
                        <label class="label">Linkedin</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your Linkedin account">
                        <br>
                        <br>
                        <label class="label">Youtube</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your Yputube account">
                        <br>
                        <br>
                        <label class="label">Snapchat</label>
                        <br>
                        <input type="text" name="" class="text-input" placeholder="Enter your Snapchat account">
                        <br>
                    </form>
                </div>
        </div>
        </div>
    </div>
</body>
</html>