<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="background-color: #fafafa;">
    <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="row custom-row-header align-item-center">
                <div class="col-3">
                    <img src="assets/Dekat.In.png" class="img-fluid logo" alt="Image">
                </div>
                <div class="col-9">
                    <a href=""><img src="assets/user profile.svg" class="img-fluid mini-icon" alt="Image"></a>
                    <a href=""><img src="assets/chat.png" class="img-fluid mini-icon" alt="Image"></a>
                    <a href=""><img src="assets/friend.png" class="img-fluid mini-icon" alt="Image"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main-->
    <div class="main">
        <div class="container">
            <div class="row">
            
                <!-- Left-->
                <div class="col-3 left">
                    
                    <!-- Nav Left-->
                    <div class="nav-left-container">
                        <div class="nav-left">
                            <a href="">
                                <div class="rectangle-Add-Feeds">
                                    <div class="text-Add-Feeds"> Add Feeds </div>
                                    <img src="assets/add-feeds.svg" class="img-fluid icon-Add-Feeds" alt="Add Feeds">
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="rectangle-Home">
                                    <div class="text-Home"> Home </div>
                                    <img src="assets/home-icon.svg" class="img-fluid icon-Home" alt="Home">
                                </div>
                            </a>
        
                            <a href="">
                                <div class="rectangle-Find">
                                    <div class="text-Find"> Find </div>
                                    <img src="assets/find-icon.svg" class="img-fluid icon-Find" alt="Find">
                                </div>
                            </a>
        
                            <a href="">
                                <div class="rectangle-Games">
                                    <div class="text-Games"> Games </div>
                                    <img src="assets/games-icon.svg" class="img-fluid icon-Games" alt="Games">
                                </div>
                            </a>
        
                            <a href=>
                            <div class="rectangle-Community">
                                <div class="text-Community"> Community </div>
                                <img src="assets/community-icon.svg" class="img-fluid icon-Community" alt="Community">
                            </div>
                            </a>
                        </div>
                    <!-- Trending-->
                        <div class="rectangle-TrendingBox">
                            <div class="rectangle-Trending">
                                <div class="text-Trending"> Trending </div>
                            </div>
                            <div class="line-left"></div>

                            <div class="rectangle-Trend1">
                                <a href="" class="text-Trends1">Badminton</a>
                            </div>
                            <div class="rectangle-Trend2">
                                <a href="" class="text-Trends2">#AmbisUTBK</a>
                            </div>
                            <div class="rectangle-Trend3">
                                <a href="" class="text-Trends3">#AyoBersepeda</a>
                            </div>
                            <div class="rectangle-Trend4">
                                <a href="" class="text-Trends4">Fotografi Kini</a>
                            </div>
                            <div class="rectangle-Trend5">
                                <a href="" class="text-Trends5">Genshin Impact</a>
                            </div>
                            <div class="rectangle-Trend6">
                                <a href="" class="text-Trends6">#Killjoy</a>
                            </div>
                            <div class="rectangle-Trend7">
                                <a href="" class="text-Trends7">Masak Hari Ini</a>
                            </div>
                            <div class="rectangle-Trend8">
                                <a class="text-Trends8">Sepatu</a>
                            </div>
                        </div>
                    </div>

                </div>

            <!-- Konten Profile-->
                <div class="col-6 profile border">
                    <div class="atas">
                        <img src="assets/homescreen2.png" class="homescreen">
                        <img src="assets/blackbox.svg" class="blendbox">
                    </div>
                    <div class=image-container>
                        <img src="assets/friend profile.png" class="foto-profile">
                    </div>
                    <div class="rectangle-nama">
                        <div class="text-nama">Mama Lauren, 24</div>
                    </div>
                    <div class="sosmed-container">
                        <img src="assets/facebook.svg" class="facebook">
                        <img src="assets/instagram.svg" class="instagram">
                        <img src="assets/linkedin.svg" class="linkedin">
                        <img src="assets/youtube.svg" class="youtube">
                        <img src="assets/snapchat.svg" class="snapchat">
                    </div>
                    <div class=row>
                        <div class=col-4>
                        </div>
                        <div class="col-4 dm-container">
                            <a href="" class="dm">
                                <img src="assets/dm icon.svg" class="dm-logo">
                                <div class=dm-text>Chat</div>
                            </a>
                        </div>
                    </div>

                    <!--Bio-->
                    <div class="bio-container">
                        <div class="birthdate">29 February 1997</div>
                        <div class= "education">
                            <h4>Education</h4>
                            <p>Bandung Institute of Technology</p>
                        </div>
                        <div class="interest">
                            <h4>Interest</h4>
                            <p>Programming, Drawing</p>
                        </div>
                        <div class="bio">
                            <h4>Bio</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor, diam viverra aliquam lacus, parturient massa elementum sit interdum. Eget pretium, porta tristique pretium, nunc phasellus.</p>
                        </div>
                    </div>

                    <!--Photos and Videos-->
                    <div class="photosvideos-container">
                        <h4>Photos & Videos</h4>
                        <div class="media-container">
                            <div class="row-1">
                                <img src="assets/Square Post 1.png" class="media">
                                <img src="assets/Square Post 2.png" class="media">
                                <img src="assets/Square Post 3.png" class="media">
                            </div>
                            <div class="row-2">
                                <img src="assets/Square Post 4.png" class="media">
                                <img src="assets/Square Post 5.png" class="media">
                                <img src="assets/Square Post 6.png" class="media">
                            </div>
                            <div class="row-3">
                                <img src="assets/Square Post 7.png" class="media">
                                <img src="assets/Square Post 8.png" class="media">
                                <img src="assets/Square Post 9.png" class="media">
                            </div>
                        </div>
                        <div class="showmore-media">Show More</div>
                    </div>
                </div>
            
            <!-- Right-->
                <div class="col-3 right">
                    <div class="row custom-row-right">
                        <div class="col-12">
                            <div class="rectangle-right">
                                <span class="text-recommended">
                                    Recomended For You
                                </span>
                                <div class="line-right"></div>
                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Kristin Watson</div>
                                        <img src="assets/profile friends.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Esther Howard</div>
                                        <img src="assets/profile friends 2.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">LesLie Alexander</div>
                                        <img src="assets/profile friends 3.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Dianne Russel</div>
                                        <img src="assets/profile friends 4.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>
                                <div class="text-ShowMore"> 
                                    <a href>Show More</a>
                                </div>
                                
                                <div class="text-community-right"> Community </div>

                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Pecinta Sepeda</div>
                                        <img src="assets/profile community 1.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Pelihara kami yuk !</div>
                                        <img src="assets/profile community 2.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="rectangle-addfriend1">
                                    <a href="">
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Belajar Arsitektur</div>
                                        <img src="assets/profile community 3.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="rectangle-addfriend1">
                                    <a>
                                        <div class="addfriend-profile1"></div>
                                        <div class="text-addfriend1">Belajar Bangunan</div>
                                        <img src="assets/profile community 4.svg" class="img-fluid icon-addfriend1" alt="hi">
                                    </a>
                                </div>

                                <div class="text-ShowMore"> 
                                    <a href="">Show More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>