<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheet.css" />
    <title>Add Feeds</title>
    <link rel="stylesheet" href="stylesheet.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <form action="/">
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand1" href="#">
            <img src="Vector(1).png" />
          </a>
          <h2>Add Feeds</h2>
          <a class="navbar-brand2" href="#">
            <img src="Vector.png" />
          </a>
        </div>
      </nav>
      <div class="text-box">
        <div class="location">
          <div class="add-location">📍 Add location</div>
          <input
            class="form-control"
            list="datalistOptions"
            id="exampleDataList"
            placeholder="Type to search..."
          />
          <datalist id="datalistOptions">
            <option value="Bali"></option>
            <option value="Banten"></option>
            <option value="Bengkulu"></option>
            <option value="DI Yogyakarta"></option>
            <option value="DKI Jakarta"></option>
            <option value="Gorontalo"></option>
            <option value="Jambi"></option>
            <option value="Jawa Barat"></option>
            <option value="Jawa Tengah"></option>
            <option value="Jawa Timur"></option>
            <option value="Kalimantan Barat"></option>
            <option value="Kalimantan Selatan"></option>
            <option value="Kalimantan Tengah"></option>
            <option value="Kalimantan Timur"></option>
            <option value="Kalimantan Utara"></option>
            <option value="Kepulauan Bangka Belitung"></option>
            <option value="Kepulauan Riau"></option>
            <option value="Lampung"></option>
            <option value="Maluku"></option>
            <option value="Maluku Utara"></option>
            <option value="Nanggroe Aceh Darussalam"></option>
            <option value="Nusa Tenggara Barat"></option>
            <option value="Nusa Tenggara Timur"></option>
            <option value="Papua"></option>
            <option value="Papua Barat"></option>
            <option value="Riau"></option>
            <option value="Sulawesi Barat"></option>
            <option value="Sulawesi Selatan"></option>
            <option value="Sulawesi Tengah"></option>
            <option value="Sulawesi Tenggara"></option>
            <option value="Sulawesi Utara"></option>
            <option value="Sumatera Barat"></option>
            <option value="Sumatera Selatan"></option>
            <option value="Sumatera Utara"></option>
          </datalist>
        </div>
        <div class="input-text">
          <textarea
            class="form-control1"
            id="exampleFormControlTextarea1"
            rows="7"
          >
Type here...</textarea
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="label-input-file">File input</label>
        <input class="form-control2" type="file" id="formFile" />
      </div>
    </form>
  </body>
</html>
