<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Dekat.In</title>
</head>
<body>
    <header>
        <div class="upper_navbar">
            <div class="logo">
                <a href="#"><img src="assets/Dekat.In.svg" alt=""></a>
            </div>
            <div class="friend-nav">
                <a href="#"><img src="assets/Friend.svg" alt=""></a>
            </div>
            <div class="chat-nav">
                <a href="#"><img src="assets/Chat.svg" alt=""></a>
            </div>
            <div class="profile-nav">
                <a href="#"><img src="assets/Profile.svg" alt=""></a>
            </div>                 
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-left">
                    <div class="nav-left-container">
                        <div class="nav-left">
                            <a href="">
                                <div class="rectangle-Add-Feeds">
                                    <div class="text-Add-Feeds"> Add Feeds </div>
                                    <img src="assets/White_add_feeds.svg" class="img-fluid icon-Add-Feeds" alt="Add Feeds">
                                </div>
                            </a>
                            
                            <a href="">
                                <div class="rectangle-Home">
                                    <div class="text-Home"> Home </div>
                                    <img src="assets/Home.svg" class="img-fluid icon-Home" alt="Home">
                                </div>
                            </a>
        
                            <a href="">
                                <div class="rectangle-Find">
                                    <div class="text-Find"> Find </div>
                                    <img src="assets/Search.svg" class="img-fluid icon-Find" alt="Find">
                                </div>
                            </a>
        
                            <a href="">
                                <div class="rectangle-Games">
                                    <div class="text-Games"> Games </div>
                                    <img src="assets/Game.svg" class="img-fluid icon-Games" alt="Games">
                                </div>
                            </a>
        
                            <a href=>
                            <div class="rectangle-Community">
                                <div class="text-Community"> Community </div>
                                <img src="assets/Community.svg" class="img-fluid icon-Community" alt="Community">
                            </div>
                            </a>
                        </div>
                        <div class="rectangle-TrendingBox">
                            <div class="rectangle-Trending">
                                <div class="text-Trending"> Trending </div>
                            </div>
                            <div class="line-left"></div>

                            <div class="rectangle-Trend1">
                                <a href="" class="text-Trends1">Badminton</a>
                            </div>
                            <div class="rectangle-Trend2">
                                <a href="" class="text-Trends2">#AmbisUTBK</a>
                            </div>
                            <div class="rectangle-Trend3">
                                <a href="" class="text-Trends3">#AyoBersepeda</a>
                            </div>
                            <div class="rectangle-Trend4">
                                <a href="" class="text-Trends4">Fotografi Kini</a>
                            </div>
                            <div class="rectangle-Trend5">
                                <a href="" class="text-Trends5">Genshin Impact</a>
                            </div>
                            <div class="rectangle-Trend6">
                                <a href="" class="text-Trends6">#Killjoy</a>
                            </div>
                            <div class="rectangle-Trend7">
                                <a href="" class="text-Trends7">Masak Hari Ini</a>
                            </div>
                            <div class="rectangle-Trend8">
                                <a class="text-Trends8">Sepatu</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-mid">
                    <div class="midhead">
                        <div class="container">
                            Home
                        </div>
                    </div>
                    <div class="feeds">
                        <div class="photo_feed">
                            <div class="container">
                                <div class="header">
                                    <div class="rectangle-pp">
                                        <a href="" class="link-pp"><img src="assets/User_PP.svg" alt="" class="user-pp"></a> 
                                        <div class="name-user"> <a href="" class = "link-pp">Ziyad Ardiansyah</a>  <a href="" class="add-text">• add</a> </div>
                                        
                                    </div>
                                </div>
                                <div class="post_content">
                                    <img src="assets/Post.svg" alt="" class="post-image">
                                </div>
                                <div class="post_icon">
                                    <img src="assets/Thumbs Up.svg" alt="" class="heart">
                                    <img src="assets/Comments.svg" alt="" class="comments">
                                </div>
                                <div class="post_capt">
                                    <div class="capt-content">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ea quis laborum non amet atque suscipit beatae incidunt deserunt, quia voluptatibus vero inventore in ipsum illum, fuga est nemo praesentium?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad optio deserunt, similique placeat quasi velit amet. Vel, quo sapiente totam temporibus facilis voluptatem quae nisi, doloremque quasi, commodi illum?
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consequatur repellat similique repellendus, voluptatum ut asperiores modi incidunt. Voluptates saepe non a dignissimos cumque tempore porro corrupti ratione quae iste!
                                    </div>
                                </div>
                                <div class="post_hour">
                                    <div class="hour-content">
                                        10h
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photo_feed">
                            <div class="container">
                                <div class="header">
                                    <div class="rectangle-pp">
                                        <a href="" class="link-pp"><img src="assets/User_PP.svg" alt="" class="user-pp"></a> 
                                        <div class="name-user"> <a href="" class = "link-pp">Ziyad Ardiansyah</a>  <a href="" class="add-text">• add</a> </div>
                                        
                                    </div>
                                </div>
                                <div class="post_content">
                                    <img src="assets/Post.svg" alt="" class="post-image">
                                </div>
                                <div class="post_icon">
                                    <img src="assets/Thumbs Up.svg" alt="" class="heart">
                                    <img src="assets/Comments.svg" alt="" class="comments">
                                </div>
                                <div class="post_capt">
                                    <div class="capt-content">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ea quis laborum non amet atque suscipit beatae incidunt deserunt, quia voluptatibus vero inventore in ipsum illum, fuga est nemo praesentium?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad optio deserunt, similique placeat quasi velit amet. Vel, quo sapiente totam temporibus facilis voluptatem quae nisi, doloremque quasi, commodi illum?
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consequatur repellat similique repellendus, voluptatum ut asperiores modi incidunt. Voluptates saepe non a dignissimos cumque tempore porro corrupti ratione quae iste!
                                    </div>
                                </div>
                                <div class="post_hour">
                                    <div class="hour-content">
                                        10h
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photo_feed">
                            <div class="container">
                                <div class="header">
                                    <div class="rectangle-pp">
                                        <a href="" class="link-pp"><img src="assets/User_PP.svg" alt="" class="user-pp"></a> 
                                        <div class="name-user"> <a href="" class = "link-pp">Ziyad Ardiansyah</a>  <a href="" class="add-text">• add</a> </div>
                                        
                                    </div>
                                </div>
                                <div class="post_content">
                                    <img src="assets/Post.svg" alt="" class="post-image">
                                </div>
                                <div class="post_icon">
                                    <img src="assets/Thumbs Up.svg" alt="" class="heart">
                                    <img src="assets/Comments.svg" alt="" class="comments">
                                </div>
                                <div class="post_capt">
                                    <div class="capt-content">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ea quis laborum non amet atque suscipit beatae incidunt deserunt, quia voluptatibus vero inventore in ipsum illum, fuga est nemo praesentium?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad optio deserunt, similique placeat quasi velit amet. Vel, quo sapiente totam temporibus facilis voluptatem quae nisi, doloremque quasi, commodi illum?
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consequatur repellat similique repellendus, voluptatum ut asperiores modi incidunt. Voluptates saepe non a dignissimos cumque tempore porro corrupti ratione quae iste!
                                    </div>
                                </div>
                                <div class="post_hour">
                                    <div class="hour-content">
                                        10h
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photo_feed">
                            <div class="container">
                                <div class="header">
                                    <div class="rectangle-pp">
                                        <a href="" class="link-pp"><img src="assets/User_PP.svg" alt="" class="user-pp"></a> 
                                        <div class="name-user"> <a href="" class = "link-pp">Ziyad Ardiansyah</a>  <a href="" class="add-text">• add</a> </div>
                                        
                                    </div>
                                </div>
                                <div class="post_content">
                                    <img src="assets/Post.svg" alt="" class="post-image">
                                </div>
                                <div class="post_icon">
                                    <img src="assets/Thumbs Up.svg" alt="" class="heart">
                                    <img src="assets/Comments.svg" alt="" class="comments">
                                </div>
                                <div class="post_capt">
                                    <div class="capt-content">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ea quis laborum non amet atque suscipit beatae incidunt deserunt, quia voluptatibus vero inventore in ipsum illum, fuga est nemo praesentium?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad optio deserunt, similique placeat quasi velit amet. Vel, quo sapiente totam temporibus facilis voluptatem quae nisi, doloremque quasi, commodi illum?
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consequatur repellat similique repellendus, voluptatum ut asperiores modi incidunt. Voluptates saepe non a dignissimos cumque tempore porro corrupti ratione quae iste!
                                    </div>
                                </div>
                                <div class="post_hour">
                                    <div class="hour-content">
                                        10h
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="photo_feed">
                            <div class="container">
                                <div class="header">
                                    <div class="rectangle-pp">
                                        <a href="" class="link-pp"><img src="assets/User_PP.svg" alt="" class="user-pp"></a> 
                                        <div class="name-user"> <a href="" class = "link-pp">Ziyad Ardiansyah</a>  <a href="" class="add-text">• add</a> </div>
                                        
                                    </div>
                                </div>
                                <div class="post_content">
                                    <img src="assets/Post.svg" alt="" class="post-image">
                                </div>
                                <div class="post_icon">
                                    <img src="assets/Thumbs Up.svg" alt="" class="heart">
                                    <img src="assets/Comments.svg" alt="" class="comments">
                                </div>
                                <div class="post_capt">
                                    <div class="capt-content">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ea quis laborum non amet atque suscipit beatae incidunt deserunt, quia voluptatibus vero inventore in ipsum illum, fuga est nemo praesentium?
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad optio deserunt, similique placeat quasi velit amet. Vel, quo sapiente totam temporibus facilis voluptatem quae nisi, doloremque quasi, commodi illum?
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consequatur repellat similique repellendus, voluptatum ut asperiores modi incidunt. Voluptates saepe non a dignissimos cumque tempore porro corrupti ratione quae iste!
                                    </div>
                                </div>
                                <div class="post_hour">
                                    <div class="hour-content">
                                        10h
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right">
                    <div class="container">
                        <div class="rectangle-right">
                            <span class="text-recommended">
                                Recomended For You
                            </span>
                            <div class="line-right"></div>
                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Kristin Watson</div>
                                    <img src="assets/profile friends.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Esther Howard</div>
                                    <img src="assets/profile friends 2.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">LesLie Alexander</div>
                                    <img src="assets/profile friends 3.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Dianne Russel</div>
                                    <img src="assets/profile friends 4.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>
                            <div class="text-ShowMore"> 
                                <a href>Show More</a>
                            </div>
                            
                            <div class="text-community-right"> Community </div>

                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Pecinta Sepeda</div>
                                    <img src="assets/profile community 1.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Pelihara kami yuk !</div>
                                    <img src="assets/profile community 2.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="rectangle-addfriend1">
                                <a href="">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Belajar Arsitektur</div>
                                    <img src="assets/profile community 3.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="rectangle-addfriend1">
                                <a>
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Belajar Bangunan</div>
                                    <img src="assets/profile community 4.svg" class="img-fluid icon-addfriend1" alt="hi">
                                </a>
                            </div>

                            <div class="text-ShowMore"> 
                                <a href="">Show More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_navbar">
            <div class="bottom_nav">
                <div class="kosong"></div>
                <div class="home">
                    <a href="#"><img src="assets/Home.svg" alt=""></a>
                </div>
                <div class="search">
                    <a href="#"><img src="assets/Search.svg" alt=""></a>
                </div>
                <div class="add-feeds">
                    <a href="#"><img src="assets/Add Feeds.svg" alt=""></a>
                </div>
                <div class="game">
                    <a href="#"><img src="assets/Game.svg" alt=""></a>
                </div>
                <div class="community">
                    <a href="#"><img src="assets/Community.svg" alt=""></a>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>