<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Friends</title>
<link rel="stylesheet" href="styles.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <div class="container">
            <div class="row custom-row-header align-items-center">
                <div class="col-3">
                    <img src="assets/Dekat.In.png" class="img-fluid" alt="Image">
                </div>
                <div class="col-9">
                    <img src="assets/Users.png" class="img-fluid mini-icon" alt="Image">
                    <img src="assets/Chat.png" class="img-fluid mini-icon" alt="Image">
                    <img src="assets/Profpic.png" class="img-fluid mini-icon" alt="Image">
                </div>
            </div>

        </div>
    </div>

    <!-- BODY -->
    <div class="body">
        <div class="container">

            <!-- LEFT -->
            <div class="row">
                <div class="col-3 left border">

                            <div class="rectangle-Add-Feeds">
                                <div class="text-Add-Feeds"> Add Feeds </div>
                                <img src="assets/Add_Feeds_icon.png" class="img-fluid icon-Add-Feeds" alt="Add Feeds">
                            </div>
                            
                            <div class="rectangle-Home">
                                <div class="text-Home"> Home </div>
                                <img src="assets/Home_icon.png" class="img-fluid icon-Home" alt="Home">
                            </div>

                            <div class="rectangle-Find">
                                <div class="text-Find"> Find </div>
                                <img src="assets/Find_icon.png" class="img-fluid icon-Find" alt="Find">
                            </div>

                            <div class="rectangle-Games">
                                <div class="text-Games"> Games </div>
                                <img src="assets/Games_icon.png" class="img-fluid icon-Games" alt="Games">
                            </div>

                            <div class="rectangle-Community">
                                <div class="text-Community"> Community </div>
                                <img src="assets/Community_icon.png" class="img-fluid icon-Community" alt="Community">
                            </div>

                            <div class="rectangle-TrendingBox">
                                <div class="rectangle-Trending">
                                <div class="text-Trending"> Trending </div>
                                </div>
                                <div class="line-left"></div>

                                <div class="rectangle-Trend1">
                                    <div class="text-Trends1">Trend1</div>
                                </div>
                                <div class="rectangle-Trend2">
                                    <div class="text-Trends2">Trend2</div>
                                </div>
                                <div class="rectangle-Trend3">
                                    <div class="text-Trends3">Trend3</div>
                                </div>
                                <div class="rectangle-Trend4">
                                    <div class="text-Trends4">Trend4</div>
                                </div>
                                <div class="rectangle-Trend5">
                                    <div class="text-Trends5">Trend5</div>
                                </div>
                                <div class="rectangle-Trend6">
                                    <div class="text-Trends6">Trend6</div>
                                </div>
                                <div class="rectangle-Trend7">
                                    <div class="text-Trends7">Trend7</div>
                                </div>
                                <div class="rectangle-Trend8">
                                    <div class="text-Trends8">Trend8</div>
                                </div>

                            </div>

                </div>

            
            <!-- MIDDLE -->
                <div class="col-6 middle border">
                    <div class="row custom-row-middle">

                    <div class="col-12 border-bottom">
                    <div class="text-Friends">Friends</div>
                    </div>
        
                    <div class="col-12">
                        <div class="search-box">
              
                        <form>
                            
                            <input class="custom-search" type="text" placeholder="Search" aria-label="Search">
                          </form>
                          <img src="assets/Search_icon.png" class="img-fluid icon-search" alt="hi">
                          </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                        <div class="rectangle-friendlist1">
                            <div class="friendlist-profile1"></div>
                            <div class="text-friend1">Robert Downey Jr.</div>
                            <img src="assets/DM_icon.png" class="img-fluid icon-DM1" alt="hi">
                        </div>

                    </div>

                    </div>
                    


                </div>

            <!-- RIGHT -->
                <div class="col-3 right">
                    <div class="row custom-row-right">
                        <div class="col-12">
                            <div class="rectangle-right">
                                <span class="text-recommended">
                                    Reccomended For You
                                </span>
                                <div class="line-right"></div>
                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="text-ShowMore"> Show More </div>
                                <div class="text-community-right"> Community </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="rectangle-addfriend1">
                                    <div class="addfriend-profile1"></div>
                                    <div class="text-addfriend1">Joseph Stalin</div>
                                    <img src="assets/addfriend_icon.png" class="img-fluid icon-addfriend1" alt="hi">
                                </div>

                                <div class="text-ShowMore"> Show More </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
</body>
</html>